include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include docs *.rst conf.py Makefile make.bat
recursive-include tests *
global-exclude *.py[cod] __pycache__ *.so

